.header {
    background-color: chocolate;
    padding: 15px;
    text-align: center;
    font-size: 36px;
  }
  .footer {
    background-color: chocolate;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(250, 235, 215);
    margin:0;
    padding: 0;
  }
  h2{
    text-decoration: underline;
  }
  .cookie img {
    height: 200px;
    width: auto;
  }

  /* .store {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: left;
  } */
  .cookie {
    display: flex;
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 10px;
  }
 
.price {
    font-weight: bold;
}
.flavor{
    text-decoration: underline;
    font-size: 20px;
}
.status{
    background-color: grey;
    border: 1px solid grey;
    padding: 1px;
    border-radius: 1rem;
}
.user{
    float: right;
}